.side-bar
  .side-bar__user-name 
    .side-bar__user-name__user-box
      .side-bar__user-name__user-box__user
        masa
      .side-bar__user-name__user-box__menu
        =link_to "#", class:"side-bar__user-name__user-box__menu__icon1" do  
          = icon('fab', 'twitter', class:"side-bar__user-name__user-box__menu__icon1")
        =link_to "#", class:"side-bar__user-name__user-box__menu__icon2" do
          = icon('fab', 'instagram', class:"side-bar__user-name__user-box__menu__icon2")
  .side-bar__group-list
    techcamp
    %P まだメッセージがありません    
    
.chat-main
  .chat-main__group-info
    .chat-main__group-info__test
      test
      %P member : masa
    .chat-main__group-info__edit
      =link_to "#", class:"chat-main__group-info__edit" do
        edit
  .chat-main__message-list
    .chat-main__message-list__message1
      masa
      %span1 2019/11/20(Wed) 17:43:01
      %P おはよう！
    .chat-main__message-list__message2
      masa
      %span2 2019/11/20(Wed) 17:43:34
      %P 今日は夜から雨

  .chat-main__message-form      
    = form_for "#"  do |f| 
      .chat-main__message-form__new-message
        .chat-main__message-form__new-message__input-box
          = f.text_field :text, placeholder: "type a message", class: "chat-main__message-form__new-message__input-box__text"
          = f.label:image, {class: "chat-main__message-form__new-message__input-box__image"} do
            = icon('fas', 'image')           
            = f.file_field:image, class: "chat-main__message-form__new-message__input-box__image__file"
        .chat-main__message-form__new-message__submit-btn
          = f.submit "SEND", class: "chat-main__message-form__new-message__submit-btn__send"

